body {
    background-color: rgba(99, 140, 230, 0.699);
    font: normal 15pt Arial;
}

div#titulo {
    text-align: center;
}


section {
    background: whitesmoke;
    margin: auto;
    width: 500px;
    padding: 15px;
    border-radius: 14px;
    box-shadow: black 5px 10px;
